<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdust.shopping.mapper.UserMapper">
    
    <resultMap id="BaseResultMap" type="cn.edu.sdust.shopping.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        user_id, username, password, real_name, phone, email, gender, address, status, create_time, update_time
    </sql>
    
    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username}
    </select>
    
    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE user_id = #{userId}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
    </select>
    
    <insert id="insert" parameterType="cn.edu.sdust.shopping.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (username, password, real_name, phone, email, gender, address, status)
        VALUES (#{username}, #{password}, #{realName}, #{phone}, #{email}, #{gender}, #{address}, #{status})
    </insert>
    
    <update id="update" parameterType="cn.edu.sdust.shopping.entity.User">
        UPDATE user
        <set>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM user WHERE user_id = #{userId}
    </delete>
    
</mapper>
